{% extends 'base.html.twig' %}


{% block body %}
<div class="about">
    <div class="picture">
        <img class="img-fluid" src="{{ asset('build/images/avatar.png')}}">
    </div>
    <div class="text">
        <p class="text-justify">Lorem ipsum dolor sit amet. Vel rerum quibusdam in exercitationem repudiandae et earum sequi aut accusantium iste eum recusandae omnis quo voluptatum dolor et Quis ipsam. Sit tempora sunt 33 rerum incidunt ut possimus voluptatem.

            Non eaque sunt sit recusandae dignissimos et quis consequatur qui dolorem eligendi quo quidem magni. Ut consequatur deserunt et laboriosam ipsa ea ratione alias. Qui voluptatem deserunt aut autem modi ea itaque fugiat et voluptas nesciunt qui dolorum accusantium vel veniam officia quo ducimus minima.
            
            Non consectetur consequatur aut quia temporibus est omnis incidunt eos obcaecati autem. Sed odio mollitia est harum quasi ea deleniti sunt eum rerum voluptatem et obcaecati quod. Sed perspiciatis consequatur id nihil voluptas hic neque dignissimos cum quaerat excepturi ea provident libero et voluptas quaerat est quia iusto.</p>
    </div>
</div>
{% endblock %}