{% extends 'base.html.twig' %}

{% block body %}
    <div class="homepage">
        <div class="block1">
            <div class="whoami">
                <h1>Kévin Lansot</h1>
                <h2>Développeur web</h2>
                <hr>
                <h3>Bienvenue sur mon portfolio</h3>
                <a type="button" class="btn" href="#">Commencer la visite</a>
            </div>
        </div>
        <div class="pages">
            <div class="aboutme">
                <h2>A propos</h2>
            </div>
            <div class="middle">
                <div class="projects">
                    <h2>Projets</h2>
                </div>
                <div class="skills">
                    <h2>Compétences</h2>
                </div>
            </div>
            <div class="contact">
                <h2>Contact</h2>
            </div>
        </div>
    </div>  
    

{% endblock %}