{% extends 'admin/base.html.twig' %}

{% block title %}New Stack{% endblock %}

{% block body %}
    <h1>Create new Stack</h1>

    {{ include('admin/admin_stack/_form.html.twig') }}

    <a href="{{ path('app_admin_stack_index') }}">back to list</a>
{% endblock %}
