@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.about {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 3rem;
    margin-top: 3rem;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.text > p {
    font-family: $sans-serif;
    color: $secondary;
    padding: 1rem;
    font-size: 1.2rem;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.picture {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

@media screen and (max-width: 992px) {
    .about {
        grid-template-columns: 1fr;
    }

    .picture {
        margin-top: 2rem;
        padding: 4rem;
    }

    .text > p {
        font-size: 0.9rem;
    }
}