.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

.whoami {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primary;
    text-align: center;
    height: 100%;
    padding: 1rem;
}

.whoami > .btn {
    margin: 3rem;
}

.pages {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

.middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

.aboutme,
.projects,
.skills,
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.aboutme {
    background-color: $blue;
}

.projects {
    background-color: $green;
}

.skills {
    background-color: $gray;
}

.contact {
    background-color: $cyan;
}

.aboutme > h2,
.projects > h2,
.skills > h2,
.contact > h2 {
    transition:transform .4s;
}

.aboutme > h2:hover,
.projects > h2:hover,
.skills > h2:hover,
.contact > h2:hover {
    cursor:pointer;
    transform:scale(1.3);
}

.aboutme:hover,
.projects:hover,
.skills:hover,
.contact:hover {
    filter: brightness(110%);
}

@media screen and (max-width: 992px) {
    .homepage {
        grid-template-columns: 1fr;
    }

    .pages {
        grid-template-rows: 1fr 1fr 1fr;
    }
}