@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

.whoami {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primary;
    text-align: center;
    height: 100%;
    padding: 1rem;
}

.start > .button {
    margin: 3rem;
}

.me > h1 {
    color: $secondary;
    font-family: $monospace;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}

.me > h2 {
    color: $secondary;
    font-family: $monospace;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}

.me > h3 {
    color: $secondary;
    font-family: $sans-serif;
    font-size: 1.5rem;
}

.pages {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

.aboutme,
.projects,
.skillss,
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.aboutme {
    background-color: $blue;
}

.projects {
    background-color: $green;
}

.skillss {
    background-color: $gray;
}

.contact {
    background-color: $cyan;
}

.aboutme > h2,
.projects > h2,
.skillss > h2,
.contact > h2 {
    transition:transform .4s;
    font-size: 2rem;
    color: $secondary;
    font-family: $monospace;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}

.aboutme > h2:hover,
.projects > h2:hover,
.skillss > h2:hover,
.contact > h2:hover {
    cursor:pointer;
    transform:scale(1.3);
}

.aboutme:hover,
.projects:hover,
.skillss:hover,
.contact:hover {
    filter: brightness(110%);
}

@media screen and (max-width: 992px) {
    .homepage {
        grid-template-columns: 1fr;
    }

    .pages {
        grid-template-rows: 1fr 1fr 1fr;
    }
}