.nav-link-1,
.nav-link-2,
.nav-link-3,
.nav-link-4 {
    font-family: $monospace;
    font-size: 2rem;
    color: $secondary;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
}

.navbar {
    background-color: $primary;
}

.nav-link-1:hover {
    background-color: $blue;
    color: $secondary;
}

.nav-link-2:hover {
    background-color: $green;
    color: $secondary;
}

.nav-link-3:hover {
    background-color: $gray;
    color: $secondary;
}

.nav-link-4:hover {
    background-color: $green;
    color: $secondary;
}

@media screen and (max-width: 992px) {
    .nav-link-1,
    .nav-link-2,
    .nav-link-3,
    .nav-link-4 {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    }
}

@media screen and (max-width: 621px) {
    .nav-link-1,
    .nav-link-2,
    .nav-link-3,
    .nav-link-4 {
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    }
}

@media screen and (max-width: 466px) {
    .nav-link-1,
    .nav-link-2,
    .nav-link-3,
    .nav-link-4 {
    font-size: 0.9rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    }
}