.project > h1 {
    color: $secondary;
    font-family: $sans-serif;
    font-size: 3rem;
}

.project > p {
    color: $secondary;
    font-family: $sans-serif;
    font-size: 1.2rem;
}

.stackh2 > h2 {
    color: $secondary;
    font-family: $sans-serif;
    font-size: 2rem;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 5rem;
    background: $secondary;
    height: 5rem;
    text-align: center;
    border-radius: 100px;
}

.stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1023px) {
    .stack {
        flex-wrap: wrap;
    }

    .stackh2 {
        display: none;
    }
}