@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}
 
@keyframes zoom {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@-webkit-keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}
@keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

.myproject > h1 {
    color: $secondary;
    font-family: $monospace;
    font-size: 2rem;
}

.project > h1 {
    color: $secondary;
    font-family: $sans-serif;
    font-size: 2rem;
}

.myproject > p {
    color: $secondary;
    font-family: $font-family;
    font-size: 1.2rem;
}

.stackh2 > h2 {
    color: $secondary;
    font-family: $sans-serif;
    font-size: 2rem;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 5rem;
    background: $gray;
    height: 5rem;
    text-align: center;
    border-radius: 100px;
    color: $primary;
    font-family: $sans-serif;
}

.stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.screen-shot {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.8rem;
}

.thumbnail {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.thumbnail:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 75%;
    //max-width: 75%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.out {
    animation-name: zoom-out;
    animation-duration: 0.6s;
}

#close {
	overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 2em; height: 2em;
	border-radius: 50%;
	background: transparent;
	color: #f2441d;
	font: inherit;
	text-indent: 100%;
	cursor: pointer;
    left: 100%;
	
	&:focus {
		outline: solid 0 transparent;
	}
	
	&:hover {
		background: $gray;
	}
	
	&:before, &:after {
		position: absolute;
		top: 15%; left: calc(50% - .0625em);
		width: .125em; height: 70%;
		border-radius: .125em;
		transform: rotate(45deg);
		background: currentcolor;
		content: ''
	}
	
	&:after { transform: rotate(-45deg); }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .stack {
        flex-wrap: wrap;
    }

    .stackh2 {
        display: none;
    }
}

