//Couleurs
$primary: #031926;
$secondary: #F1F1F1;
$blue: #468189;
$cyan: #A2CECB;
$green: #77ACA2;
$gray: #9DBEBB;
$yellow: #FFF9D8;

//Polices
$sans-serif:'Ubuntu', sans-serif;
$monospace:'Paytone One', sans-serif;