//Couleurs
$primary: #010101;
$secondary: #F1F1F1;
$blue: #468189;
$cyan: #A2CECB;
$green: #77ACA2;
$gray: #9DBEBB;
$yellow: #FFF1AA;

//Polices
$sans-serif:'Ubuntu', sans-serif;
$monospace:'Paytone One', sans-serif;
$font-family: 'Roboto', sans-serif;

