{% extends 'base.html.twig' %}

{% block body %}
<div class="d-flex flex-column">
    {% include "_navbar.html.twig" %}
</div>
<body class="d-flex flex-column justify-content-center">
    <div class="contacts">
        <ul class="wrapper">
        <li class="icon twitter">
            <span class="tooltip">Linkedin</span>
            <span><a href="https://www.linkedin.com/in/kevin-lansot/"><i class="fab fa-linkedin fa-5x"></i></a></span>
        </li>
        <li class="icon instagram">
            <span class="tooltip">Gmail</span>
            <span><a href="mailto:kevin.lansot@gmail.com" title="E-mail" class="contact-icon a__fade-in-banner-contact-mail"><i class="fab fa-google fa-5x"></i></a></span>
        </li>
        <li class="icon github">
            <span class="tooltip">Github</span>
            <span><a href="https://github.com/klanso18"><i class="fab fa-github fa-5x"></i></a></span>
        </li>
        </ul>
    </div>
    <div class="d-flex flex-column pt-5">
        {% include "_homebtn.html.twig" %}
    </div>
</body>
{% endblock %}