{% extends 'base.html.twig' %}

{% block body %}
<div class="d-flex flex-column">
    {% include "_navbar.html.twig" %}
</div>
{# <div class="project">
    <h1 class="text-center pb-3">Mes compétences</h1>
</div> #}
<div id="skill">
    <div class="container p-3">
            <p class="pt-1">HTML</p>
            <div class="container">
                <div class="skills html">100%</div>
            </div>

            <p class="pt-5">CSS</p>
            <div class="container">
                <div class="skills css">80%</div>
            </div>

            <p class="pt-5">PHP</p>
            <div class="container">
                <div class="skills php">65%</div>
            </div>
            
            <p class="pt-5">JavaScript</p>
            <div class="container">
                <div class="skills js">60%</div>
            </div>

            <p class="pt-5">Symfony</p>
            <div class="container">
                <div class="skills symfony">65%</div>
            </div>
    </div>
</div>
<div class="d-flex flex-column pt-5">
    {% include "_homebtn.html.twig" %}
</div>
{% endblock %}